/* General */
* {
	font-family: "Orbitron", sans-serif; /* Default font */
	font-weight: 450;
}

section {
	background-image: linear-gradient(var(--mint), var(--lightmint));
}

/* IDs */
#artist-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
#artist-list > a {
	background-color: #ffb0ff;
	padding: 1rem;
	border-radius: 1rem;
}
#artist-list a:focus {
	background-color: pink;
}

#sidebar-open:target {
	background-color: var(--highlightyellow);
}