/* General */
* {
	font-family: "Orbitron", sans-serif; /* Default font */
	font-weight: 450;
}

section {
	background-image: linear-gradient(var(--mint), var(--lightmint));
}

/* IDs */
#artist-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
#artist-list > a {
	background-color: #ffb0ff;
	padding: 1rem;
	border-radius: 1rem;
}
#artist-list a:focus {
	background-color: pink;
}

#sidebar-open:target {
	background-color: var(--highlightyellow);
}

#lowdiv {
	width: 40%;
	margin: auto;
	text-align: center
}

@media screen and (max-width: 1080px) {
	#lowdiv {
		width: 55%;
	}
}
@media screen and (max-width: 768px) {
	body {
		font-size: 16px;
	}

	#main-title {
		width: 60rem;
		height: 8rem;
	}
	#main-subtitle {
		width: 28rem;
		height: 3.6rem;
	}
	#lowdiv {
		width: 70%;
	}
}


@media screen and (max-width: 576px) {
	header {
		width: 100%;
		height: 12rem;
	}
	#main-title {
		width: 34rem;
		height: 4rem;
	}
	#main-subtitle {
		width: 20rem;
		height: 2.4rem;
	}
	#lowdiv {
		width: 85%;
	}
}