/* General */
* {
	font-style: normal;
	text-decoration: none;

	color: black;
	transition: 0.3s;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 18px;
	background-image: url("../assets/index/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
}

/* Colors */
:root {
	--lightblue:			lightblue;
	--lightyellow:		#ffffd0;
	--violet:					#ff90ff;
	--highlightblue:	aliceblue;
	--highlightyellow:#ffffe6;
	--mint: 					#00ffc0;
	--lightmint:			#79ffdd;
}

/* Fonts */
.aldrich {
	font-family: "Aldrich", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.orbitron {
	font-family: "Orbitron", sans-serif; /* Default font: Orbitron */
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24;
	
	font-size: 4rem;
}
.bi.bi-box-arrow-in-left {
	font-size: 4rem;
}

/* Headers */
h1, h2, h3 {
	font-family: "Aldrich", sans-serif;
	font-weight: 300;
	font-style: normal;
}
h1 {
	text-align: center;
	font-size: 4rem;
}
h2 {
	text-align: center;
	margin: 0;
	font-size: 3.2rem;
}
h3 {
	margin: 0;
	font-size: 2.8rem
}

/* Other text */
p {
	color: lightskyblue;
}
a {
	color: #1d00c2;
	font-weight: 600;
}
aside > a {
	color: black;
}

/* Divs */
nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	position: fixed;
	width: 99%;

	background-color: var(--lightblue);
	box-shadow: 1rem 1rem #0004;
	
	height: 4rem;
	padding: 0;
	gap: 2rem;
}
aside {
	display: flex;
	flex-flow: column nowrap;
	background-image: linear-gradient(90deg, var(--lightyellow), gold);
	gap: 1rem;
	z-index: 9;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;	/* Center vertically */
	align-items: center;			/* Center horizontally */
	height: 24rem;
}
main {
	padding: 1rem;
	margin: 1rem;
	box-sizing: border-box;
}
section {
	margin: 1rem;
	padding: 2rem;
	border-radius: 2rem;
}
.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	gap: 2rem;
}
footer {
	text-align: center;
	background-color: #40404050;
}

/* The Sidebar */
#sidebar-open, #sidebar-close {
	cursor: pointer;
}
#sidebar {
	height: 100%;
	width: 25rem;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding: .8rem;
	transform: translateX(-100%); /* Hide fully to the left */
}
#sidebar.open {
	transform: translateX(0); /* Makes the sidebar visible */
}
#sidebar {
	align-self: flex-end; /* Push it to the right/top */
	cursor: pointer;
	font-size: 1.5rem;
	margin-bottom: 2rem; /* space between icon and links */
}
#sidebar > a {
	display: block;
	padding: 1rem;
	text-decoration: none;
}
#sidebar > a:hover { /* Hover pseudoclass */
	background-color: var(--highlightyellow);
}

/* Other */
audio {
	height: 3rem;
}
audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
	background-color: #7bcfff;
	color: #000;
}

#home:target {
	background-color: blue; /* Try js if possible */ /* Possible */
}

main p {
	color: black;
}

#main-title {
	width: 110rem;
	height: 14rem;
}
#main-subtitle {
	width: 42rem;
	height: 5.6rem;
}


/* Media Query */
@media screen and (max-width: 1080px) {
	body {
		font-size: 18px;
	}

	#main-title {
		width: 80rem;
		height: 10rem;
	}
	#main-subtitle {
		width: 34rem;
		height: 4.4rem;
	}
}
@media screen and (max-width: 768px) {
	body {
		font-size: 16px;
	}

	#main-title {
		width: 60rem;
		height: 8rem;
	}
	#main-subtitle {
		width: 28rem;
		height: 3.6rem;
	}
}
@media screen and (max-width: 576px) {
	body {
		font-size: 14px;
	}

	#main-title {
		width: 50rem;
		height: 6.4rem;
	}
	#main-subtitle {
		width: 22rem;
		height: 3rem;
	}
	h2 {
		font-size: 2.8rem;
	}
	p {
		font-size: 1.4rem;
	}
	#sidebar {
		height: auto;
		width: 100%;
	}
}